" General
set scrolloff=10
set number
set showmode
set showcmd
"set clipboard+=unnamed

" Search
set ignorecase
set smartcase
set incsearch
set hlsearch

" Plugins
set surround
set highlightedyank
set easymotion
set commentary
set NERDTree
set ReplaceWithRegister
set argtextobj
set ideajoin
set idearefactormode=keep
